html, body, p, div {
  margin: 0;
  padding: 0;
}

html {
  font-family: Helvetica, Arial, Sans-Serif;
  font-size: 62.5%;
}

body {
  display: flex;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(#dee9fc, #fff 50%, #dee9fc);
  align-items: center;
  justify-content: center;
}

h1 {
  font-size: 1.8rem; /* 18px */
  color: #3065ba;
}

h1:after {
  content: " ";
  display: block;
  height: 0.4rem;
  width: auto;
  background-color: #3065ba;
  opacity: 0;
  transition: opacity 1s ease-out;
}

h1:hover:after {
  opacity: 1;
  transition: opacity 1s ease-in;
}